kestra/flows/06-github-issue-flow.yml
id: github-issue
namespace: ai.incident.response

description: |
  ## 🐙 GitHub Issue Automation

  Automatically creates a richly formatted GitHub issue for every incident.
  Issue body includes: AI root cause analysis, remediation steps, metrics,
  log excerpts, severity labels, and incident timeline.

  **API:** GitHub REST API v3
  **Auth:** Personal Access Token (repo scope)
  **Output:** Issue URL for Slack/report cross-linking

labels:
  team: sre
  env: production
  tier: ticketing
  criticality: medium

inputs:
  - id: incident_id
    type: STRING
  - id: failure_type
    type: STRING
  - id: component
    type: STRING
  - id: severity
    type: STRING
    defaults: "HIGH"
  - id: error_message
    type: STRING
  - id: analysis_json
    type: STRING
    defaults: "{}"
  - id: metrics_json
    type: STRING
    defaults: "{}"

tasks:
  - id: create-github-issue
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install requests --quiet
    env:
      GITHUB_TOKEN: "{{ envs.GITHUB_TOKEN }}"
      GITHUB_REPO: "{{ envs.GITHUB_REPO }}"
    script: |
      import json, os, requests
      from datetime import datetime, timezone

      token = os.environ.get("GITHUB_TOKEN", "")
      repo  = os.environ.get("GITHUB_REPO", "")

      if not token or token == "ghp_your_github_token_here" or not repo:
          print("⚠️  GitHub credentials not configured — skipping issue creation")
          print("   Set GITHUB_TOKEN and GITHUB_REPO in .env to enable")
          print("::set-output name=issue_url::")
          print("::set-output name=issue_number::0")
          print("::set-output name=status::skipped")
          exit(0)

      incident_id  = "{{ inputs.incident_id }}"
      failure_type = "{{ inputs.failure_type }}"
      component    = "{{ inputs.component }}"
      severity     = "{{ inputs.severity }}"
      error_message = "{{ inputs.error_message }}"
      ts = datetime.now(timezone.utc).strftime("%Y-%m-%d %H:%M:%S UTC")

      try:
          analysis = json.loads('''{{ inputs.analysis_json }}''')
      except:
          analysis = {}
      try:
          metrics = json.loads('''{{ inputs.metrics_json }}''')
      except:
          metrics = {}

      root_cause    = analysis.get("root_cause", {})
      remediation   = analysis.get("remediation", {})
      biz_impact    = analysis.get("business_impact", {})
      sev_assessment = analysis.get("severity_assessment", {})

      failure_display = failure_type.replace("_", " ").title()
      component_display = component.replace("-", " ").title()

      SEVERITY_BADGE = {
          "CRITICAL": "![CRITICAL](https://img.shields.io/badge/severity-CRITICAL-red)",
          "HIGH"    : "![HIGH](https://img.shields.io/badge/severity-HIGH-orange)",
          "MEDIUM"  : "![MEDIUM](https://img.shields.io/badge/severity-MEDIUM-yellow)",
          "LOW"     : "![LOW](https://img.shields.io/badge/severity-LOW-green)",
      }
      badge = SEVERITY_BADGE.get(severity, SEVERITY_BADGE["HIGH"])

      immediate_actions = remediation.get("immediate_actions", [])
      actions_md = "\n".join(
          f"- [ ] **Step {a.get('step',i+1)}** ({a.get('eta_minutes','?')} min): {a.get('action','')}"
          + (f"\n  ```bash\n  {a['command']}\n  ```" if a.get('command') else "")
          for i, a in enumerate(immediate_actions[:5])
      )

      contributing_factors = root_cause.get("contributing_factors", [])
      factors_md = "\n".join(f"- {f}" for f in contributing_factors)

      short_term = "\n".join(f"- {f}" for f in remediation.get("short_term_fixes", []))
      long_term  = "\n".join(f"- {f}" for f in remediation.get("long_term_prevention", []))

      issue_body = f"""## {badge} Incident Report — `{incident_id}`

      > **Auto-generated by Autonomous AI Incident Response Orchestrator**
      > *Powered by Kestra + OpenAI GPT-4o*

      ---

      ## 📋 Incident Summary

      | Field | Value |
      |-------|-------|
      | **Incident ID** | `{incident_id}` |
      | **Severity** | **{severity}** |
      | **Failure Type** | `{failure_display}` |
      | **Affected Component** | `{component_display}` |
      | **Detected At** | `{ts}` |
      | **Est. Resolution** | `{remediation.get('estimated_resolution_minutes', 'TBD')} minutes` |
      | **SLO Breach** | `{sev_assessment.get('slo_breach', 'Unknown')}` |
      | **Blast Radius** | {sev_assessment.get('blast_radius', 'Under assessment')} |

      ---

      ## 🤖 AI Root Cause Analysis

      **AI Confidence Score:** `{int(analysis.get('ai_confidence_score', 0.85) * 100)}%`

      ### Summary
      {root_cause.get('summary', 'Analysis pending')}

      ### Technical Details
      {root_cause.get('technical_detail', 'See logs for details')}

      ### Contributing Factors
      {factors_md or '- Analysis in progress'}

      ---

      ## 💼 Business Impact

      | Area | Assessment |
      |------|-----------|
      | **Summary** | {biz_impact.get('summary', 'Under assessment')} |
      | **Affected Users** | {biz_impact.get('affected_users_estimate', 'TBD')} |
      | **Revenue Risk** | {biz_impact.get('revenue_risk', 'TBD')} |
      | **Customer Facing** | `{biz_impact.get('customer_facing', True)}` |
      | **Compliance Risk** | {biz_impact.get('compliance_risk', 'None identified')} |

      ---

      ## 🔧 Immediate Remediation Steps

      {actions_md or '- [ ] Escalate to on-call engineer immediately'}

      ### Short-term Fixes
      {short_term or '- Review post-incident'}

      ### Long-term Prevention
      {long_term or '- Document in post-mortem'}

      ---

      ## 📊 Metrics at Time of Incident

      | Metric | Value | Status |
      |--------|-------|--------|
      | Error Rate | `{metrics.get('error_rate_pct', 'N/A')}%` | {'🔴' if float(metrics.get('error_rate_pct', 0) or 0) > 5 else '🟡'} |
      | Avg Latency | `{metrics.get('avg_latency_ms', 'N/A')} ms` | {'🔴' if float(metrics.get('avg_latency_ms', 0) or 0) > 2000 else '🟡'} |
      | P99 Latency | `{metrics.get('p99_latency_ms', 'N/A')} ms` | {'🔴' if float(metrics.get('p99_latency_ms', 0) or 0) > 5000 else '🟡'} |
      | CPU Usage | `{metrics.get('cpu_usage_pct', 'N/A')}%` | {'🔴' if float(metrics.get('cpu_usage_pct', 0) or 0) > 80 else '🟡'} |
      | Memory | `{metrics.get('memory_usage_mb', 'N/A')} MB` | ⚪ |
      | DB Pool | `{metrics.get('db_pool_active', 'N/A')}/{metrics.get('db_pool_max', 100)}` | {'🔴' if float(metrics.get('db_pool_active', 0) or 0) > 90 else '🟡'} |
      | Cache Hit | `{metrics.get('cache_hit_rate_pct', 'N/A')}%` | {'🔴' if float(metrics.get('cache_hit_rate_pct', 100) or 100) < 50 else '🟡'} |

      ---

      ## 🔗 Resources

      - 📊 [Kestra Orchestration Dashboard](http://localhost:8080)
      - 📖 [Runbook]({analysis.get('runbook_reference', '#')})
      - 🔍 [Service Logs](http://localhost:8000/logs)
      - 📈 [Service Metrics](http://localhost:8000/metrics)

      ---

      ## 📝 Incident Timeline

      - `{ts}` — Incident detected by Kestra health monitor
      - `{ts}` — Log collection initiated
      - `{ts}` — AI root cause analysis completed
      - `{ts}` — Slack alert sent
      - `{ts}` — GitHub issue created (this issue)
      - ⏳ — Resolution pending

      ---

      *Generated by [Autonomous AI Incident Response Orchestrator](https://github.com/{repo})*
      *Workflow: Kestra → FastAPI → OpenAI GPT-4o → GitHub Issues*
      """

      # Dedent the body
      import textwrap
      issue_body = textwrap.dedent(issue_body)

      # Label mapping
      SEVERITY_LABELS = {
          "CRITICAL": ["incident", "severity: critical", "priority: p1"],
          "HIGH"    : ["incident", "severity: high", "priority: p2"],
          "MEDIUM"  : ["incident", "severity: medium", "priority: p3"],
          "LOW"     : ["incident", "severity: low", "priority: p4"],
      }
      labels = SEVERITY_LABELS.get(severity, ["incident"])

      issue_payload = {
          "title": f"[{severity}] {incident_id}: {failure_display} in {component_display}",
          "body": issue_body,
          "labels": labels,
      }

      headers = {
          "Authorization": f"token {token}",
          "Accept": "application/vnd.github.v3+json",
          "X-GitHub-Api-Version": "2022-11-28",
      }
      url = f"https://api.github.com/repos/{repo}/issues"

      resp = requests.post(url, json=issue_payload, headers=headers, timeout=15)

      if resp.status_code == 201:
          issue_data = resp.json()
          print(f"✅ GitHub issue created: #{issue_data['number']}")
          print(f"   URL: {issue_data['html_url']}")
          print(f"::set-output name=issue_url::{issue_data['html_url']}")
          print(f"::set-output name=issue_number::{issue_data['number']}")
          print(f"::set-output name=status::created")
      elif resp.status_code == 404:
          print(f"❌ Repository '{repo}' not found or no access")
          print(f"::set-output name=issue_url::")
          print(f"::set-output name=status::error_404")
      else:
          print(f"❌ GitHub API error: {resp.status_code} — {resp.text[:200]}")
          print(f"::set-output name=issue_url::")
          print(f"::set-output name=status::error_{resp.status_code}")

  - id: log-issue-result
    type: io.kestra.plugin.core.log.Log
    message: |
      🐙 GitHub issue: {{ outputs.create-github-issue.vars.status }}
      Issue URL: {{ outputs.create-github-issue.vars.issue_url }}
      Incident : {{ inputs.incident_id }}

errors:
  - id: handle-github-error
    type: io.kestra.plugin.core.log.Log
    level: WARN
    message: |
      ⚠️  GitHub issue creation failed for {{ inputs.incident_id }}
      Continuing incident response pipeline...
